.chatbot {
  font-family: monospace;
  border-radius: 10px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.15);
  background: #f5f8fb;
  text-align: center;
  display: flex;
  flex-flow: column;
  width: 75%; /* Increased width */
  height: 600px; /* Increased height */
  max-height: none;
  overflow: hidden;
}

.header {
  padding: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  max-height: 58px;
  font-size: 16px;
  font-weight: bold;
  background-color: #002f50;
}

.messages {
  width: 100%;
  height: 450px; /* Increased height for the message area */
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.message-container {
  width: 100%;
}

.bot-message {
  text-align: justify;
  font-size: 15px;
  float: left;
  padding: 15px 20px;
  margin: 5px;
  border-radius: 20px 20px 20px 1px;
  background: #00aaa5;
  color: white;
  min-width: 40px;
}

.user-message {
  float: right;
  padding: 15px 10px;
  margin: 10px;
  border-radius: 20px 20px 1px 20px;
  background: #cccccc;
  color: black;
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input > form {
  display: flex;
  align-items: center;
  width: 100%;
}

.input > form > input[type="text"] {
  font-family: monospace;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #eee;
  box-shadow: none;
  box-sizing: border-box;
  opacity: 1;
  outline: none;
  padding: 16px 52px 16px 10px;
  width: calc(100% - 50px); /* Adjust width to make room for the icon */
}

.input > form > input:focus {
  outline: none;
}

.voice-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #00aaa5;
  margin-left: 10px;
  padding: 10px;
}

.voice-btn:hover {
  color: #007b7f;
}

.voice-btn:focus {
  outline: none;
}


.send-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 28px; /* Slightly bigger send icon */
  color: #4a4a4a;
  margin-left: 10px;
  padding: 10px;
}

.send-btn:hover {
  color: #00aaa5; /* Change color on hover */
}

.send-btn:focus {
  outline: none;
}